body {
	background-color: #C9D8FF;
	margin: 0;
	color: #E8EEFF;
}

header {
	display: flex;
	height: 30px;
	width: 100%;
	justify-content: flex-start;
	align-items: center;
	transition: all 0.4s ease-in-out;
	position: fixed;
	overflow-y: hidden;
	background-color: #74777F;
}

header:hover {
	height: 30px;
	border-bottom: none;
}

header > .header_home {
	flex-grow: 10;
	align-self: flex-start;
	padding: 0 1em;
}

header > .header_links {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
}

.header_collapse {
	height: 0px;
	border-bottom: solid 5px #5C667F;
}


.photoContainer > img {
	height: 600px;
	width: 800px;
}